body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 20, 27);
}

section {
    /* background-image: url("pexels-pratikxox-3263669.jpg");
    background-size: cover; */
    /* background-repeat: no-repeat; */
    color: ivory;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 15px 20px 10px rgba(32, 37, 73, 0.932);
    margin: 5vh 5vh;
    position: relative;
}

section::after {
    content: "";
    background-image: url("pexels-pratikxox-3263669.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.center {
    text-align: center;
    text-transform: uppercase;
}

.first {
    padding: 1.2em;
}

.btn {
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(241, 185, 79);
    border-radius: 10px;
    font-size: 1rem;
}

.btn:hover {
    background-color: white;
    color: navy;
}

textarea {
    background: transparent;
    color: ivory;
}


/* div {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

div::after {
    content: "";
    background: url(image.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */